body {
	margin: 0;

	font-family: 'PT Sans', 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: #585858;
}

body.no-scroll {
	overflow: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin-top: 0;
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.rel {
	position: relative;
}



/* Container */

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}


/* Header */

.header {
	height: 85px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;
}


/* Nav */

.nav {
	display: flex;
	height: 100%;
	font-size: 15px;

}

.nav__link {
	display: flex;
	align-items: center;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
}

.nav__link.active {
	background-color: #004af2;
}


/* Intro */

.intro {
	max-height: 600px;
	margin-bottom: 30px;
	background: url(../img/bg.jpg) no-repeat center / cover;
}

.intro__inner {
	height: 600px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

}

.intro__text {
	text-align: right;
	margin: 45px;
}

.intro__countrier {
	font-size: 15px;
	color: white;
}

.intro__title {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 110px;
	line-height: 0.9;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.8);
}

.intro__title-amp {
	position: absolute;
	line-height: 1;
	font-size: 170px;
	font-weight: 900;
	color: rgba(255, 255, 255, 0.2);
	right: 0;
	top: 50%;

	transform: translateY(-50%);
}

/* Request__form */

.request__form {
	width: 100%;
	max-width: 400px;
	border-radius: 5px;
	overflow: hidden;

	background-color: #004af2;
}

.request__form--intro {
	position: relative;
	bottom: -30px;
}

.request__form-header {
	padding: 20px 30px;
	background-color: #033fc9;
}

.request__form-title {
	margin-bottom: 8px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #fff;
}

.request__form-text {
	font-family: 'PT Sans',
	sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: #fff;
}

.request__form-content {
	padding: 30px;

}


/* Form */

.form__group {
	margin-bottom: 25px;
}

.input {
	display: block;
	width: 100%;
	padding-bottom: 15px;
	padding-left: 50px;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);

	font-family: 'PT Sans' sans-serif;
	font-size: 16px;
	color: #fff;

	transition: border-bottom .1s linear;
}

.input::placeholder {
	color: #fff;
}

.input:focus {
	outline: none;
	border-bottom: 1px solid rgb(255, 255, 255);
}

.input--name {
	background: url(../img/user_icon.svg) left 15px top 4px no-repeat ;
}

.input--phone {
	background: url(../img/phone_icon.svg) left 15px top 4px no-repeat;
}

.input--email {
	background: url(../img/mail_icon.svg) left 15px top 4px no-repeat;
}

.input--dark {
	color: #2c2c2c;
	border-bottom-color: #E8E8E8;
}

.input--dark::placeholder {
	color: #2c2c2c;
}

.input--dark:focus {
	border-bottom-color: #333;
}

.input--dark.input--name {
	background-image: url(../img/user_black_icob.svg);
}

.input--dark.input--phone {
	background-image: url(../img/phone_black_icon.svg);
}

.input--dark.input--email {
	background-image: url(../img/mail_black_icon.svg);
}

/* Btn */

.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 15px 45px;


	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 1.1;
	color: #fff;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	text-decoration: none;

	background: #333;
	border: 0;
	border-radius: 5px;
}

.btn--block {
	display: block;
	width: 100%;
}

.btn--orange {
	background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}

.btn--orange:hover {
	background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}

.btn--shadow {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* section */

.section {
	padding: 60px 0;
}

.section--gray {
	background-color: #f9f9f9;
}

.section__title {
	margin-bottom: 20px;
	font-size: 45px;
	color: #2c2c2c;
	font-weight: 900;
	line-height: 1.2;
	font-family: 'Lato', sans-serif;
}

.section__title span {
	color: #004af2;
}


/* servises */

.servises {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0 50px 0;
	position: relative;

	background-color: #fff;
	border-radius: 5px;

	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.servises__main-title {
	font-family: 'Lato', sans-serif;
	line-height: 1;
	font-size: 90px;
	font-weight: 900;
	pointer-events: none;

	color: rgba(44, 44, 44, 0.05);
	position: absolute;
	bottom: 12px;
	right: 30px;
	z-index: 1;

}

.servises__item {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 0 25px;
	margin-bottom: 30px;
}

.servises__title {
	margin-bottom: 20px;

	font-size: 24px;
	color: #2c2c2c;
	font-weight: 900;
	line-height: 1.2;
	font-family: 'Lato', sans-serif;
}

.servises__text {
	color: #585858;
	font-size: 15px;
	line-height: 1.4;
}

.servises__footer {
	margin-top: auto;
}

.servises__link {
	display: inline-block;
	color: #004af2;
	text-decoration: none;

	transition: color 0.1s linear;
}

.servises__link::after {
	content: '';
	display: block;
	margin-top: 5px;
	width: 10px;
	height: 2px;

	background-color: #004af2;

	transition: width 0.1s linear;
}

.servises__link:hover {
	color: #FF3E2F;
}

.servises__link:hover::after {
	width: 100%;

	background-color: #FF3E2F;
}


/* Clients */

.clients {
	display: flex;
	margin-bottom: 20px;
}

.clients__logos {
	padding-top: 20px;
	width: 60%;
	min-height: 422px;
	background: url(../img/map.svg) no-repeat left -80px top 0px;
}

.clients__reviews {
	width: 40%;
}

.clinets__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.clinets__list li {
	margin-right: 50px;
	margin-bottom: 40px;
}

.clinets-love {
	display: inline-block;
	margin-left: 40px;
	min-height: 47px;
	padding-top: 5px;

	background: url(../img/heart.svg) no-repeat left 19px top 0px;

	font-size: 18px;
	color: #464646;
}


/* Reviews */

.reviews {
	position: relative;
}

.reviews::before {
	content: '';
	display: block;
	width: 92px;
	height: 126px;

	background: url(../img/lines.svg);

	position: absolute;
	top: -15px;
	left: 2px;
	z-index: 1;
}

.reviews__header {
	display: flex;
	align-items: center;
	min-height: 100px;
	margin-bottom: 30px;

	background: url();
	position: relative;
	z-index: 2;
}

.reviews__header-content {
	flex-grow: 2;
	padding-left: 20px;
}

.reviews__photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

	top: 0;
	left: 0;
	z-index: 1;
}

.reviews__name {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	font-weight: 900;
}

.reviews__company {
	font-family: 'Lato',
	sans-serif;
	font-size: 15px;
	color: #2c2c2c;
}

.reviews__content {
	font-size: 15px;
	line-height: 1.8;
	color: #585858;
}

.reviews__content p {
	margin-bottom: 20px;
}

.reviews__content p::first-line {
	text-indent: 20px;
}


/* Benefits */

.benefits {
	display: flex;
}

.benefits__col {
	width: 50%;
}

.benefits-list {
	width: 100%;
	max-width: 370px;
	padding-left: 50px;
	position: relative;

	background-image: linear-gradient(to bottom, #fff 50%, #a5a5a5 50%);
	background-size: 2px 35px;
	background-repeat: repeat-y;
	background-position: left 12px top 30px;
}

.benefits-list::before,
.benefits-list::after {
	content: '';
	display: block;
	width: 26px;
	height: 36px;

	background-color: #fff;
	background-repeat:  no-repeat;

	position: absolute;
	left: 0;
	z-index: 1;
}

.benefits-list::before {
	background-image: url(../img/pin_before.svg);

	top: -5px;
}

.benefits-list::after {
	background-image: url(../img/pin_after.svg);

	bottom: -10px;
}

.benefits-list__item:not(:last-child) {
	margin-bottom: 35px;
}

.benefits-list__title {
	margin-bottom: 12px;

	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 1.2;
	color: #2c2c2c;
	font-weight: 900;
}

.benefits-list__text {
	font-size: 15px;
	line-height: 1.4;
	color: #585858;
}

.benefits__col-img {
	border-radius: 5px;
}


/* Team */

.team {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.team__col {
	width: 33.333%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.team__photo {
	margin-bottom: 13px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.team__name {
	margin-bottom: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #2c2c2c;
	font-weight: 900;
}

.team__prof {
	margin-bottom: 11px;
	font-size: 15px;
	color: #585858;
}

.team__contacts {
	font-size: 14px;
	color: #585858;
}

.team__contacts li {
	margin-bottom: 9px;
}

.team__contact-icon {
	vertical-align: middle;
	width: 16px;
	margin-right: 7px;
}

.team__contacts a {
	color: inherit;
	text-decoration: none;
}

.team__contacts a:hover {
	text-decoration: underline;
}


/* Mission */

.mission-title {
	text-align: center;

	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	flex-wrap: 900;
	font-size: 90px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.05);
}

.mission {
	padding: 60px 30px;
	margin-bottom: 30px;
	position: relative;
	margin-top: -22px;

	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 30px rgba(0,0,0, 0.16);
	text-align: center;

	font-family: 'Lato',
	sans-serif;
}

.mission::before,
.mission::after {
	content: '';
	display: block;
	width: 41.6666%;
	height: 2px;

	position: absolute;
	bottom: 0;
	z-index: 1;
}

.mission::before {
	background-color: #004AF2;
	right: 50%;
}

.mission::after {
	background-color: #FC2C2B;
	left: 50%;
}

.mission__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 5px;
	color: #004af2;
}

.mission__subtitle {
	font-size: 21px;
	font-weight: 400;
}


/* News */

.news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.news__item {
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
}

.news__title {
	margin-bottom: 15px;

	font-size: 18px;
	font-weight: 700;
	color: #2c2c2c;
}

.news__title a {
	color: inherit;
	text-decoration: none;
}

.news__title a:hover {
	text-decoration: underline;
}

.news__text {
	margin-bottom: 15px;

	font-size: 15px;
	color: #585858;
}

.news__date {
	display: block;
	font-size: 12px;
	color: #6e6e6e;
}


/* Footer */

.footer {
	padding: 40px 0;
	margin-top: 50px;

	background-color: #F9F9F9;
	background-image: url(../img/tire_left.svg),
	url(../img/tire_right.svg);
	background-repeat: no-repeat;
	background-position: left -30px bottom 10px,
	right -30px bottom 15px;

	text-align: center;
}

.footer__contacts {
	margin: 25px 0;
	text-align: center;

	color: #585858;
	font-style: normal;
	font-size: 12px;
	font-weight: 700;
}

.footer__contacts p{
	margin: 0 0 5px;
}

.footer__contacts a{
	color: inherit;
	text-decoration: none;
}

.footer__contacts a:hover {
	text-decoration: underline;
}

.footer__nav {
	font-size: 12px;
	color: #004af2;
}

.footer__nav a {
	margin: 0 5px;
	color: #004af2;
	text-decoration: none;
}

.footer__nav a:hover {
	text-decoration: underline;
}


/* Modal */

.modal {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
}

.modal.show {
	display: flex;
}

.modal__inner {
	width: 400px;
	padding: 25px;
	border-radius: 5px;
	position: relative;

	background-color: #fff;
}

.modal__title {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #004af2;
	font-weight: 900;
	line-height: 1.2;
}

.modal__text {
	font-size: 15px;
	color: #2C2C2C;
	text-align: center;
}

.modal__footer {
	margin-top: 25px;
	padding-top: 25px;
	text-align: center;
	border-top: solid 1px #e8e8e8;
}

.modal__footer-title {
	margin-bottom: 10px;

	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #2c2c2c;
}

.modal__contacts {
	font-size: 15px;
	color: #2c2c2c;
	font-style: normal;
}

.modal__contacts p {
	margin-bottom: 3px;
}

.modal__contacts a {
	color: inherit;
	text-decoration: none;
}

.modal__contacts a:hover {
	text-decoration: underline;
}

.modal__close {
	width: 20px;
	height: 20px;
	padding: 0;

	background: none;
	border: none;
	cursor: pointer;

	position: absolute;
	top: -20px;
	right: -30px;
	z-index: 1;

	transition: transform .2s linear;
}

.modal__close:hover {
	transform: rotate(90deg);
}

.modal__close img {
	display: block;
}